@media all {
  .page-break {
    display: none;
  }
}

@page {
  size: 6cm 6cm;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
  font-family: 'db_adman_xregular';
}

.barcode {
  display: inline-block;
  color: white;
  background: #ff14bc;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.barcode:hover {
  background: #ff14bc;
}